[general]
# Streamlit settings
debug = false

[dvc]
remote = "b2remote"

[b2remote]
# These will be overridden by the values set in the Streamlit Cloud Secrets management
AWS_ACCESS_KEY_ID = ""
AWS_SECRET_ACCESS_KEY = ""
B2_ENDPOINT_URL = "https://s3.eu-central-003.backblazeb2.com"